@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-3">
        <h2>Totais Comprados</h2>
        <ul>
            <li>Total de Produtos Vendidos nessa loja é de <b>@ViewData["contador"]</b></li>
            <li>Total Arrecado nas Vendas é de <b>@ViewData["preco_total"]</b> </li>
        </ul>
    </div>
</div>

